.footer {
    transition: transform 0.5s ease-in-out;
  }
  
  .footer.hidden {
    transform: translateY(100%);
  }
  
  .footer.visible {
    transform: translateY(0);
  }

@media (max-width: 768px) {
  .socialBox {
    display: none; /* Hide text on mobile devices */
  }
}
